/* Top Container*/
.top {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.bottom-title {
    margin-top: -1.5%;
}
.msg-div {
    justify-content: center;
}
.bottom-msg {
    margin-top: -1%;
}
.message {
    justify-content: center;
}

/* Bottom Container */
.bottom {
    border: solid 1px black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 800px;
    gap: 5%;
    margin-top: 5%;
}

.card {
    border: solid 1px red;
}

.card-body {
    border: solid 1px blue;
}

.karma {
    grid-area: 2 / 2;
}

.calculator {
    grid-area: 1 / 1 / span 2 / span 1;
}

.supervisor {
    grid-area: 1 / 3 / span 2 / span 1;
}